<?xml version="1.0" encoding="ISO-8859-1"?>
<settings>
  <Settings>
    <settings value="settings.xml"/>
  </Settings>
  <Text_Properties>
    <style value="style.css"/>
    <show value="true"/>
    <embedFont value="true"/>
    <width value="300"/>
    <hPos value="center"/>
    <vPos value="center"/>
    <padding value="2"/>
    <headColor value="0"/>
    <bodyColor value="3420433"/>
    <cornerRadius value="5"/>
    <textBackAlpha value="0.5"/>
    <textPadding value="2"/>
  </Text_Properties>
  <General_Properties>
	<showAbout value="false" />
    <width value="550"/>
    <height value="300"/>
    <orientation value="vertical"/>
    <elements value="6"/>
    <startItem value="1"/>
    <randomImages value="false"/>
    <images value="images.xml"/>
    <navBar value="componentImages/left.png"/>
    <playBtn value="componentImages/play.png"/>
    <pauseBtn value="componentImages/pause.png"/>
  </General_Properties>
  <Image_Properties>
    <barSize value="50"/>
    <mouseBehavior value="hover"/>
    <imageMethod value="quad"/>
    <imageFunction value="easeout"/>
    <effectDuration value="0.5"/>
    <borderSize value="2"/>
    <borderAlpha value="0.2"/>
    <borderColor value="13421772"/>
    <zoomPercentage value="0"/>
    <kenBurns value="false"/>
    <rollOverBehavior value="smooth"/>
    <brightnessOver value="20"/>
    <brightnessOut value="-20"/>
    <brightnessSpeed value="6"/>
  </Image_Properties>
  <Play_Settings>
	<showPlay value="true"/>
	<autoPlay value="false"/>
    <slideshowTime value="3"/>
    <playPausePadding value="15"/>
    <hPos value="right"/>
    <vPos value="bottom"/>
  </Play_Settings>
  <Text_Animation>
    <slideAnim value="true"/>
    <appear value="top"/>
    <alphaAnim value="true"/>
    <blurAnim value="true"/>
    <method value="Regular"/>
    <function value="easeInOut"/>
    <duration value="0.5"/>
    <delay value="0.2"/>
  </Text_Animation>
</settings>